@font-face {
        font-family: Gidole;
        src: url("../fonts/gidole.ttf");
    }
    body {
     font-family: Gidole;
    }


.navbar:after {
  background-color: transparent !important;
}

.navbar-titulo {
	font-weight: bold !important;
}

.center {
	text-align: center;
}

.timeline-data-right {
	position: absolute; right: 10%; top: 4%; color: grey;
}

.periodos {
	margin-left: 10px; 
	margin-right: 10px;
}

.periodo-selecionado {
	color: #1BC191 !important;
	border-bottom: 2px solid #1BC191;
}

.periodo {
	color: #777;
}

.big-number {
	font-size: 52px;
}

.cifrao {
	font-size: 30px;
}

.portfolio-chart {
	 margin-top: 10vh;
}

td {
	font-weight: 550;
}

.data-table tbody td.sem-linha:before {
	background-color: transparent;
}

.news {
	background: rgba(255, 255, 255, 0.9);
	color: rgb(65, 117, 164);
	z-index: 100;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	font-size: 15px;
	line-height: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.data-table {
	font-size: 15px;
}

.ativo-nome {
	//text-transform: capitalize;
	opacity: 0.7;
}

.stock-box-red {
	background: red; border: 1px solid #ff3b30; padding: 6px; border-radius: 10px; color: white; border-radius: 27px;
}

.stock-box-green {
	background: #1BC191; border: 1px solid #1BC191; padding: 6px; border-radius: 10px; color: white; border-radius: 27px;
}
  
.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }

  .capitalize {
  	text-transform: capitalize;
  }

 /* A bit of demo styles */;

.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}