@font-face {
        font-family: Gidole;
        src: url("../fonts/gidole.ttf");
    }
    body {
     font-family: Gidole;
    }
td {
  padding-top: 5px !important;
  padding-bottom: 6px !important;
}

.list-block .item-input {
  width: 29% !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0, 0, 0, 0.4);
}

.no-line-bottom:after {
  background-color: transparent !important;
}

.black-border:after {
  background-color: black !important;
}

.layout-white .list-block ul:before, .list-block.layout-white ul:before {
  background-color: transparent !important;
}

.layout-white .list-block ul:after, .list-block.layout-white ul:after {
  background-color: transparent !important;
}

.navbar {
  background: #009EC2 !important;
}

.navbar-transparent { background: transparent !important; }

.navbar:after {
  background-color: transparent !important;
}

.navbar-titulo {
	font-weight: bold !important;
}

.grad {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)); /* Standard syntax */
}

.center {
	text-align: center;
}

.content-news {
  color: white;
  margin-left: 20px;
}

.header-navigation-drawer {
  background-color: #009EC2;
  padding: 12px;
  color: white;
}

.none {
  display: none;
}

.timeline-data-right {
	position: absolute; right: 10%; top: 4%; color: grey;
}

.periodos {
	margin-left: 10px; 
	margin-right: 10px;
}

.periodo-selecionado {
	color: #009EC2 !important;
	border-bottom: 2px solid #009EC2;
}

.periodo {
	color: #777;
}

.big-number {
	font-size: 52px;
}

.cifrao {
	font-size: 30px;
}

.portfolio-chart {
	 margin-top: 10vh;
}

td {
	font-weight: 550;
}


.layout-white .checkout .item-inner:after {
    background-color: transparent !important;
}

.data-table tbody td.sem-linha:before {
	background-color: transparent;
}

.news {
	background: rgba(255, 255, 255, 0.9);
	color: rgb(65, 117, 164);
	z-index: 100;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	font-size: 15px;
	line-height: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.data-table {
	font-size: 15px;
}

.ativo-nome {
	//text-transform: capitalize;
	opacity: 0.7;
}

.bold {
  font-weight: bold;
}


.stock-box-red {
	background: red; border: 1px solid #ff3b30; padding: 6px; border-radius: 10px; color: white; border-radius: 27px;
}

.stock-box-green {
	background: #009EC2; border: 1px solid #009EC2; padding: 6px; border-radius: 10px; color: white; border-radius: 27px;
}

.background-color-nasdaq { 
 background-color: #009EC2 !important;
}

.color-nasdaq {

  color: #009EC2 !important;
}
  
.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }

  .capitalize {
  	text-transform: capitalize;
  }

 /* A bit of demo styles */;

.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}

.facebook-card .card-header {
    display: block;
    padding: 10px;
  }
  .facebook-card .facebook-avatar {
    float: left;
  }

.facebook-card .facebook-name {
    margin-left: 74px;
    font-size: 14px;
    font-weight: 500;
    color: #1A0DAB;
  }

.layout-dark .facebook-card .facebook-name {
    color: #fff;
  }

  .layout-dark .popup {
  	background: #222426 !important;
  	color: #ddd !important;
  }

  .layout-dark .list-block ul:before, .list-block.layout-dark ul:before {
    background-color: transparent !important;
}

.layout-dark .list-block ul, .list-block.layout-dark ul {
    background: transparent !important;
}

  

  .login-botoes {
    margin: 15px;
  }

  .login-botoes a {
    margin-top: 8px;
  }

  .login-logotipo {
    width: 200px;
    height: 200px;
  }